SUBSYSTEM=="tty", ATTRS{serial}=="A400XJT3", GROUP="users", MODE="0660, "SYMLINK+="bus_pirate"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010" SYMLINK+="busblaster", MODE="0660", GROUP="users"
